@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat';
}

header{
   text-align: center;
   color: #fff;
   background-color: #18191F; 
   padding: 30px 10px;
   font-size: 20px;
   font-family: 'Montserrat';
}

section{
    background-color: #1947E5;
    color: #fff;
    width: 100%;
    height: 940px;
    font-family: 'Montserrat';
    padding-left: 150px;
    padding-right: 150px;
}
.section-img{
    width: 500px;
    float: right;
    padding-left: 100px;
}
.title h1{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 50px;
    font-family: 'Montserrat';
}
.content{
    margin-left: 50px;
}
.content-value{
    padding-top: 60px;
}
.atas{
    font-family: 'Montserrat';
    font-size: 58px;
    font-weight: bold;
}
.bawah{
    padding-top: 20px;
    font-family: 'Montserrat';
    font-size: 20px;
}
.bawah span{
    font-weight: 700;
}
.content-logo{
    padding-top: 30px;
    margin-bottom: 30px;
}
.content-logo img{
    height: 40px;
    padding-right: 20px;
}
.content-button p{
    font-size: 14px;
}
.download{
    background-color:#18191f;
	border-radius: 15px;
	border: 2px solid #18191f;
	cursor: pointer;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: bold;
	padding: 15px 25px;
    text-decoration: none;
    margin-right: 20px;
}
.download:hover{
    background-color: #3d3f4b;
    border: 2px solid #3d3f4b;
}
.buy{
    background-color: #1947E5;
	border-radius: 15px;
	border: 2px solid #d1dafa;
	cursor: pointer;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: bold;
	padding: 15px 25px;
    text-decoration: none;
}
.buy:hover{
    background-color: #d1dafa;
}
.content-button p{
    margin-top: 20px
}
.content-button span{
    border-bottom: 2px dotted;
}
footer{
    background-color: #18191F;
    margin-left: auto;
    margin-right: auto;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
}

footer h2{
    font-size: 26px;
    color: #fff;
}

.disclaimer{
    padding-bottom: 60px;
}
.disclaimer p{
    font-size: 18px;
    color: #bababc;
}
.disclaimer h2{
    padding-bottom: 20px;
}
.product{
    padding-bottom: 20px;
}
.product h2{
    padding-bottom: 35px;
}
.list-product img{
    height: 40px;
    padding-right: 50px;
}
.container hr{
    background-color: #696969;
}
.section-credit{
    padding-bottom: 30px;
}
.credit{
    padding-top: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500px;
    color: #bababc;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 32px;
}
.credit span{
    color: #fff;
    border-bottom: 2px dotted;
    cursor: pointer;
}
.credit span:hover{
    color: #bababc;
}
.socmed{
    justify-content: center;
    list-style-type: none;
    margin-left: 30px;
}
.socmed li{
    display: inline-block;
    padding: 0px 5px;
    text-decoration: none;
}
.socmed li:hover{
    color: #bababc;
}
.socmed li a{
    text-decoration: none;
}
.special{
    margin-left: 23px;
}


